.container {
  padding: 0 1rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
}

.date {
  text-align: center;
  font-style: italic;
}

.featuredImage {
  margin: 2rem 0;
}

.authorContainer {
  display: flex;
  padding: 0.5rem;
  margin: 2rem auto;
  max-width: 500px;
  color: #feffff;
  background-color: #3aafa9;
  /* 
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.15); */
}
.authorInfo {
  margin-left: 0.5rem;
  width: 65%;
}

.embeddedImages {
  width: 100%;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .authorContainer {
    padding: 1rem;
  }

  .authorInfo {
    margin-left: 1rem;
  }

  .title {
    font-size: 2.5rem;
  }
}
